
TP0/TP0/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TP0/TP0/bin/roslyn/Microsoft.CodeAnalysis.dll
TP0/TP0/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TP0/TP0/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
TP0/TP0/bin/roslyn/System.Collections.Immutable.dll
TP0/TP0/bin/roslyn/System.IO.Compression.dll
TP0/TP0/bin/roslyn/System.IO.FileSystem.dll
TP0/TP0/bin/roslyn/System.IO.FileSystem.Primitives.dll
TP0/TP0/bin/roslyn/System.Reflection.Metadata.dll
TP0/TP0/bin/roslyn/System.Security.Cryptography.Primitives.dll
TP0/TP0/bin/roslyn/System.ValueTuple.dll
TP0/TP0/bin/roslyn/VBCSCompiler.exe
