@model TP0.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}

    <h2>@ViewBag.Title</h2>

  
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Cambiar la configuración de la cuenta</h4>
            <hr />
            <div class="form" style="width:50%; margin-top:50px;">
               
                <h3>Cambiar contraseña</h3>    
                [
                    @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Crear", "SetPassword")
}
                    ]
            

              
            </div>
        </div>
