DOCTYPE html>   
<html>
    <head>
    </head>
    <style type="text/css">
    </style>

    <body>
        <div class="jumbotron">
            <h1> Tus datos </h1>
        </div>

        <h2> Dispositivos </h2>
   
        <fieldset>
            Movie Type <select id="MovieType" name="MovieType">

    <option selected="selected" value="2">Comedy</option>

    <option value="0">1</option>

    <option value="1">0</option>

            </select>

            <p><input type="submit" value="Agregar dispositivo"> </p>

        </fieldset>

       

    </body>

</html>
