<!DOCTYPE html>   
<html>
    <head>
    </head>
    <style type="text/css">
    </style>

    <body>
        <div class="jumbotron">
            <h1> Tus datos </h1>
            </div>

    </body>

</html>
