<!DOCTYPE html>

<html>
<head>

</head>
<style type="text/css">
    #acciones_dispositivos_botones {
        display: block;
        padding: 15px;
    }

    .boton_acciones_dispositivos {
        display: block;
    }
</style>


<body>
    <script>
        function alertBox() {
            alert("Ejecutado");
        }
    </script>
    <div class="jumbotron">
        <h1> Administra tus dispositivos </h1>
    </div>

    <section id="acciones_dispositivos_botones">
        <!-- <button class="boton_acciones_dispositivos"> Colocar la cantidad total de dispositivos </button> -->
        <!-- <p id="colocar_cantidad_total_de_dispositivos"></p> -->
        <button onclick=""> Consultar por dispositivos inteligentes encendidos</button>
        <button onclick="alertBox();location.href='@Url.Action("Simplex", "Home")'">ejecutar simplex</button>

        <!-- <button class="boton_acciones_dispositivos"> Consultar por dispositivos inteligentes encendidos</button> -->
        <p id="hay_di_encendidos"></p>
        <button class="boton_acciones_dispositivos"> Consultar por cantidad de dispositivos inteligentes encendidos</button>
        <p id="cuantos_di_encendidos_hay"></p>
        <button class="boton_acciones_dispositivos"> Consultar por dispositivos inteligentes apagados</button>
        <p id="hay_di_apagados"></p>
        <button class="boton_acciones_dispositivos"> Consultar por cantidad de dispositivos inteligentes apagados </button>
        <p id="cuantos_di_apagados_hay"></p>
        
    </section>

</body>

</html>
