<html>
<head>
</head>

<script>
        function alertBox() {
            alert("Dispositivo agregado");
        }
</script>

<body>
    <div class="jumbotron">
        <h1> @ViewBag.Message </h1>
    </div>
    @using (Html.BeginForm("AgregarDispositivoClie", "Home", FormMethod.Post))
    {@*lista con todos los dispositivos para agregar uno a los propios*@
        <h4>
            @Html.DropDownList("DispositivoSeleccionado", (IEnumerable<SelectListItem>)ViewBag.selectListItems)
        </h4>

        <h4>
            <input type="submit" class="btn btn-default" value="Agregar dispositivo" onclick="alertBox()">
        </h4>
    }
    @using (Html.BeginForm("DispositivosPropios", "Home", FormMethod.Get))
    {
        <input type="submit" class="btn btn-default" value="Volver">
    }

</body>
</html>
