<form action="~/Home/ConsultarConsumo" method="post">
    
        <div class="jumbotron">
            <h2>Consultar consumo</h2>
           
        </div>
        <div>

            <hr />
            <div class="container" style="align-content:center;text-align:center; margin-bottom:15px;">
                <h3>@ViewBag.consumo</h3>
                <h5>@ViewBag.fechas</h5>
            </div>


            <div class="form" style="width:50%; text-align:center;">
                <label for="FechaInicio">Fecha inicio:</label>
                <input type="date" id="fechaInicioID"
                       name="FechaInicio"
                       min="2010-01-01" max="2050-06-14" required />
                <span class="validity"></span>

                <label for="FechaFin">Fecha fin:</label>
                <input type="date" id="fechaFinID"
                       name="FechaFin"
                       min="2010-01-01" max="2050-06-14" required />
                <span class="validity"></span>

                <button type="submit" class="btn ">Consultar</button>
            </div>
                 

        </div>
   
</form>

<script>
        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("FechaFin")[0].setAttribute('max', today);

</script>
