<html>
<head>
</head>
<style type="text/css">

</style>

<script>
        function alertBox() {
            alert("Dispositivo agregado");
        }
</script>

<body>
    <div class="jumbotron">
        <h1> Tus datos </h1>
    </div>
    <h2> Agregar dispositivo: </h2>
    @using (Html.BeginForm("DetallesDeUsuario", "Home", FormMethod.Post))
    {@*lista con todos los dispositivos para agregar uno a los propios*@
        <h4>
            @Html.DropDownList("DispositivoSeleccionado", (IEnumerable<SelectListItem>)ViewBag.selectListItems)
        </h4>

        <h4>
            <input type="submit" value="Agregar dispositivo" onclick="alertBox()">
        </h4>
    }
</body>
</html>
