@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Entrega 0</h1>
    <p class="lead">Seleccione el archivo .json que desea cargar a memoria</p>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}
