@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #mapDiv {
        height: 100%
    }
</style>
<link href="~/Content/StyleSheetMAPA.css" rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h2>Mapa</h2>
    <h4>Localice su transformador más cercano</h4>
</div>

<div id="mapDiv" style="width:100%; height:500px;"></div>
<script>
    var markers = @Html.Raw(ViewBag.Transformadores);
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(-34.599166,-58.458118), 
            zoom: 12,
        };
        var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
        for (var i = 0; i < markers.length; i++) {
            var obj = markers[i];
            var marcador = new google.maps.Marker({
                position: new google.maps.LatLng(obj.latitude, obj.longitude),
                map: map,
                title: obj.TransformadorID
            });
            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading"> Transformador ' + obj.TransformadorID + '</h1>' +
                '<div id="bodyContent">' +
                '<p><b> Consumo actual: ' + obj.EnergiaTotal + ' KWxHora</b>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            google.maps.event.addListener(marcador, 'click', (function (marcador, contentString, infowindow) {
                return function () {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marcador);
                };
            })(marcador, contentString, infowindow));
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcLWyEOryOmZ9cgjgV54cs0UPG3OXZKqU&callback=myMap"></script>
