@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #mapDiv {
        height: 100%
    }
</style>

<div id="mapDiv" style="width:100%; height:400px;"></div>
<script>
    var markers = @Html.Raw(ViewBag.Transformadores);
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2,
        };
        var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
        for (var i = 0; i < markers.length; i++) {
            var marker = markers[i];
            var marcador = new google.maps.Marker({
                position: new google.maps.LatLng(marker.latitude, marker.longitude),
                map: map,
                title: marker.id
            });
            var contentString = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h1 id="firstHeading" class="firstHeading"> Transformador ' + marker.id + '</h1>' +
                '<div id="bodyContent">' +
                '<p><b> Energia total: ' + marker.energiaTotal + '</b>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            google.maps.event.addListener(marcador, 'mouseover', (function (marcador, contentString, infowindow) {
                return function () {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marcador);
                };
            })(marcador, contentString, infowindow));
            google.maps.event.addListener(marcador, 'mouseout', (function (marcador, infowindow) {
                return function () {
                    infowindow.close();
                };
            })(marcador, infowindow));
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcLWyEOryOmZ9cgjgV54cs0UPG3OXZKqU&callback=myMap"></script>