@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #mapDiv {
        height: 100%
    }
</style>

<div id="mapDiv" style="width:100%; height:400px;"></div>
<script>
    function myMap() {
        var mapOptions = {
            center: new google.maps.LatLng(0, 0),
            zoom: 2,
        };
        var map = new google.maps.Map(document.getElementById("mapDiv"), mapOptions);
        var data = [{ "id": 1, "ZonaID": 1, "zonaGeografica": null, "latitude": 1.0, "longitude": 1.0, "energiaTotal": 1.0, "clientes": null },
        { "id": 2, "ZonaID": 1, "zonaGeografica": null, "latitude": 2.0, "longitude": 2.0, "energiaTotal": 1.0, "clientes": null },
        { "id": 3, "ZonaID": 1, "zonaGeografica": null, "latitude": 53.0, "longitude": -50.0, "energiaTotal": 1.0, "clientes": null }];

        for (var i = 0; i < data.length; i++) {
            var obj = data[i];
            var marcador = new google.maps.Marker({
                position: new google.maps.LatLng(obj.latitude, obj.longitude),
                map: map,
                title: obj.id
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcLWyEOryOmZ9cgjgV54cs0UPG3OXZKqU&callback=myMap"></script>

