
@if ((string)System.Web.HttpContext.Current.Session["admin"] == "true")
{
    <div class="jumbotron">
        <h2>Reportes</h2>
        <h4>Elija el tipo de Reporte a realizar</h4>
    </div>
    <hr />

    <div class="table-responsive">
        <div class="box">
        <table class="table">
            <tr>
                <th>
                    <h4>Por Hogar</h4>
                </th>
                <td>
                    <h5>Genera un reporte sobre el consumo de un Hogar especifico en un periodo seleccionado</h5>
                </td>
                <td>
                    @Html.ActionLink("Generar Reporte por Hogar", "ReporteHogar", FormMethod.Get)
                </td>
            </tr>
            <tr>
                <th>
                    <h4>Por Dispositivo</h4>
                </th>
                <td>
                    <h5>Genera un reporte sobre el consumo de un Dispositivo especifico en un periodo seleccionado</h5>
                </td>
                <td>
                    @Html.ActionLink("Generar Reporte por Dispositivo", "ReporteDispositivo", FormMethod.Get)
                </td>
            </tr>
            <tr>
                <th>
                    <h4>Por Transformador</h4>
                </th>
                <td>
                    <h5>Genera un reporte sobre el consumo de un Transformador especifico en un periodo seleccionado</h5>
                </td>
                <td>
                    @Html.ActionLink("Generar Reporte por Transformador", "ReporteTransformador", FormMethod.Get)
                </td>
            </tr>
        </table>
    </div>
    </div>
        }
