<form action="~/Home/ReporteHogar" method="post">
    <fieldset>
        <div class="jumbotron">
            <h2>@ViewBag.hogar</h2>
            <h2>@ViewBag.consumo</h2>
            <h4>@ViewBag.fechas</h4>
        </div>
        @using (Html.BeginForm("ReporteHogar", "Home", FormMethod.Post))
        {
            <div>
                <h3>Consultar consumo</h3>

                 @Html.DropDownList("HogarSeleccionado", (IEnumerable<SelectListItem>)ViewBag.HogarSeleccionado, null, new { @class = "dropdown-menu" })
                <label for="FechaInicio">Fecha inicio:</label>
                <input type="date" id="fechaInicioID"
                       name="FechaInicio"
                       min="2010-01-01" max="2050-06-14" required />
                <span class="validity"></span>
            </div>
            <div>
                <label for="FechaFin">Fecha fin:</label>
                <input type="date" id="fechaFinID"
                       name="FechaFin"
                       min="2010-01-01" max="2050-06-14" required />
                <span class="validity"></span>
            </div>
            <h4>
                <input type="submit" class="btn btn-default" value="Consultar">
            </h4>
        }
    </fieldset>
</form>
