<!DOCTYPE html>

<html>
<head>

</head>
<style type="text/css">
    #acciones_dispositivos_botones {
        display: block;
        padding: 15px;
    }

    .boton_acciones_dispositivos {
        display: block;
    }
</style>

<body>
    <div class="jumbotron">
        <h2>Resultado: </h2>
        <h2>@ViewBag.simplexResultado</h2>
    </div>
</body>

</html>