body {
    font-family: "Trebuchet MS";
    letter-spacing: .1em;
    margin: 5em;
    text-transform: uppercase;
    align-items: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.65), transparent);
}


h2 {
    text-align: center;
    font-size: 40px;
}

h4 {
    text-align: center;
}

.jumbotron { /*titlecontainer*/
    position: relative;
}

.message {
    color: white;
    font-size: 12px;
    background-color: #c31d1d;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-decoration: none;
}



.box {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

vl {
    border-left: 6px solid #f2f2f2;
    padding: 25px;
    height: auto;
}
.imageBackground {
    background-image:url(/Images/fondo_hexa.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
nav {
    text-align: center;
    font-size: 1.25em;
   
}
    nav h3 {
    padding-top: 15px;
 
            }

    nav ul {
        border-radius: .25em;
        background: white;
        list-style: none;
        text-align: center;
   
    }

    nav li {
        position: relative;
        display: inline-block;
        border-bottom: none;
        border-radius: .25em .25em 0 0;
     
    }

        nav li:hover {
            border-radius: 0 0 .25em .25em;
           
            background: dodgerblue;
         
        }

 
    nav a {
        color: #369dea;
        display: block;
        padding: .5em;
        text-decoration: none;
    }

        nav a:hover {
            color: white;
        }

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    position:relative;
    align-items:center;
    margin:auto;
    width:50%;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #369dea;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background-color:lightblue;
            color:black;
        }

    .form .message {
        margin: 50px ;
        color: white;
        font-size: 12px;
    }
 
       

    .form .register-form {
        display: none;
    }

.container {
    position: relative;
    z-index: 1;
    padding:15px;
    
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa {
                color: #EF3B3A;
            }
    .container table {
        align-content:center;
    }

table {
    display: table;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 999;
    min-width: 80%;
    padding: 40px;
    position: relative;
    height: 50%; /* Set your own height: percents, ems, whatever! */
    width: 50%; /* Set your own width: percents, ems, whatever! */
    overflow: auto; /* Recommended in case content is larger than the container */
    margin: auto; /* Center the item vertically & horizontally */
    text-align: center;
}

    table a {
        text-decoration: underline;
        color: blue;
        
    }

    table a:hover {
        text-decoration: none;
    
      
    }


table th {
    background-color: #79a2ee;
    color: white;
    font-weight: normal;
    padding: 20px 30px;
   
}

table td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 10px 15px;
}

table tr {
        background-color: rgb(69, 150, 218);
        color: rgb(111, 111, 111);
        padding: 20px 30px;
}

    table tr .btn, table td .btn, table th .btn {
        border-radius: 10px;      
        background-color: white;      
        cursor: pointer;
        font-weight: bolder;
        border-style: solid;
        border-color:steelblue;
   
        
    }
        table tr .btn:hover, table td .btn:hover, table th .btn:hover {
            background-color: steelblue;
            font-weight: 500;
        }

.btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(120, 182, 233);
    margin:4px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
   
    cursor: pointer;
}

    .btn:hover {
        background-color: lightblue;
        color: black;
    }

.dropdownbox {
    position: absolute;
    text-align:center;
 
}

    .dropdownbox select {
        background-color: #0563af;
        color: white;
        padding: 12px;
        width: 250px;
        border: none;
        font-size: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;
    }

    .dropdownbox::before {
        content: "\f13a";
        font-family: FontAwesome;
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        font-size: 28px;
        line-height: 45px;
        color: rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
    }

    .dropdownbox:hover::before {
        color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .dropdownbox select option {
        padding: 30px;
    }